.row {
  margin: 0;
  /* margin-left: 0;
  margin-right: 0; */
}

/* Logo  */

.logo {
  font-size: 2em;
}

/* Nav Item Setup */

.navLink {
  cursor: pointer;
  text-decoration: none;
  color: white;
  position: relative;
}

.navli {
  padding: 1.5em;
  text-align: center;
}

/* Hover Animations */

.navLink:hover {
  color: white;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  height: 0.15rem;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.navLink:hover::after,
.navLink.active:after {
  transform: scaleX(1);
}

/* Back to Top */

.backToTop {
  background-color: #292b2c;
  position: fixed;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

.backToTop.active {
  pointer-events: auto;
  cursor: pointer;
  opacity: 1;
}

.backToTop:hover {
  background-color: black;
  border: 2px solid blue;
}

.blurNav.active {
  opacity: 90%;
  /* filter: blur(2px); */
}

.extra-space {
  margin-top: 5.75em;
}