.row {
  margin: 0;
  /* margin-left: 0;
  margin-right: 0; */
}

/* Logo  */

.logo {
  font-size: 2em;
}

/* Nav Item Setup */

.navLink {
  cursor: pointer;
  text-decoration: none;
  color: white;
  position: relative;
}

.navli {
  padding: 1.5em;
  text-align: center;
}

/* Hover Animations */

.navLink:hover {
  color: white;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.navLink:hover::after {
  transform: scaleX(1);
}
