.row {
  margin: 0;
  /* margin-left: 0;
  margin-right: 0; */
}

/* Logo  */

.logo {
  font-size: 2em;
}

/* Nav Item Setup */

.navLink {
  cursor: pointer;
  text-decoration: none;
  color: white;
  position: relative;
}

.navli {
  padding: 1.5em;
  text-align: center;
}

/* Hover Animations */

.navLink:hover {
  color: white;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  height: 0.15rem;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.navLink:hover::after,
.navLink.active:after {
  transform: scaleX(1);
}

/* Back to Top */

.backToTop {
  width: 3em;
  height: 3em;
  background-color: #292b2c;
  border-radius: 100%;
  position: fixed;
  bottom: 2em;
  right: 2em;
}
