.stackLogo {
  width: 4em;
  height: 4em;
  /* margin-left: 1.75em;
  margin-right: 1.75em; */
}

.myHeadshot {
  background-color: #292b2c;
  border-radius: 10%;
  width: 45%;
}

@media only screen and (max-width: 768px) {
  .myHeadshot {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .myHeadshot {
    width: 75%;
  }
}
