.PadExempt {
  padding-top: 2.75em;
  padding-bottom: 5.75em;
}

.aboutParent {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
}

.aboutDesc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.aboutImage {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.stackLogo {
  width: 5em;
  height: 5em;
}

.myHeadshot {
  background-color: #292b2c;
  border-radius: 10%;
  width: 20em;
  height: 20em;
}
