.HomeBackground {
  background-image: url("../../assets/HomeBackground.png");
  background-position: center;
  background-color: black;
}

/* Introduction */

.homeStarter {
  padding-top: 4em;
  padding-bottom: 5em;
  text-shadow: 5px 6px 30px #f2f3f5;
}

.myGreeting {
  font-size: 32px;
  padding-top: 2rem;
}

.myName {
  font-size: 80px;
  margin-top: 2rem;
}

.myStatus {
  font-size: 16px;
  margin-top: 2rem;
}

/* Download Button */

.downloadResumeSpace {
  margin-top: 2rem;
  padding-top: 2em;
  /* Remove padding-top if nessessary  */
}

.downloadResume {
  transition: transform 0.2s;
  box-shadow: 4px 5px 20px #f2f3f5;
}

.downloadResume:hover {
  transform: scale(1.1);
}

/* Social Icons */

.socialSpace {
  margin-top: 2rem;
}

.socials {
  width: 3em;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
  box-shadow: 2px 3px 20px #f2f3f5;
  transition: transform 0.3s;
}

.socials:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
  .homeStarter {
    padding-top: 0;
  }
}
