/* Introduction */

.homeStarter {
  padding-top: 4em;
  padding-bottom: 5em;
}

.myGreeting {
  font-size: 32px;
  margin: 2rem;
}

.myName {
  font-size: 80px;
  margin: 2rem;
}

.myStatus {
  font-size: 16px;
  margin: 2rem;
}

/* GetInTouch Button */

.getInTouchSpace {
  margin: 2rem;
  padding-top: 2em; 
  /* Remove padding-top if nessessary  */
}

.getInTouch {
  transition: transform 0.2s;
}

.getInTouch:hover {
  transform: scale(1.1);
}

/* Social Icons */

.socialSpace {
  margin: 2rem;
}

.socials {
  width: 3em;
  margin-right: 2rem;
  border-radius: 50%;
  transition: transform 0.3s;
}

.socials:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
  .homeStarter {
    padding-top: 0;
  }
}