.full {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/DowntownToronto2.png");
  background-size: cover;
}

.wholeForm {
  background-color: white;
  margin: 2em;
  padding: 2em;
  box-shadow: 5px 10px 18px #F2F3F5;
}

.inputBoxHead {
  width: 100%;
  margin-bottom: 2em;
  border: 5px solid #F2F3F5;
}

.inputBoxBody {
  width: 100%;
  margin-bottom: 2em;
  border: 5px solid #F2F3F5;
}

.submitForm {
  transition: transform 0.3s;
}

.submitForm:hover {
  transform: scale(1.1);
}
