.TabsFrame {
  background-color: white;
  border-top: 10px solid #f2f3f5;
}

.TabsFrame > li.nav-item > .Tabs.active {
  background-color: black;
}

.Tabs {
  color: black;
  text-decoration: none;
}

.Tabs:hover {
  color: black;
  background-color: #f2f3f5;
}

.TabsContent {
  border: 10px solid #f2f3f5;
  background-color: white;
  padding: 2em;
  height: 30em;
}

.TabsContentExempt {
  border: 10px solid #f2f3f5;
  background-color: white;
  padding: 2em;
  height: 30em;
}

@media only screen and (max-width: 992px) {
  .TabsContentExempt {
    height: 100%;
  }
}

/* Academic */

.card-img-top {
  width: 100%;
  height: 10em;
  object-fit: cover;
  object-position: top;
  /* object-fit: cover;
  object-position: top left; */
}

.seeMore {
  transition: transform 0.3s;
}

.seeMore:hover {
  transform: scale(1.1);
}

/* Certifications */

.TableFrame {
  font-size: 18px;
}

/* Promo Video */
.promoVideo {
  height: 100%;
  width: 56%;
}

@media only screen and (max-width: 1200px) {
  .promoVideo {
    width: 100%;
    height: 100%;
  }
}

/* Volunteer */
.volDesc {
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 768px) {
  .TabsContent,
  .TabsContentExempt {
    padding: 0;
    margin-bottom: 5em;
    min-height: 100vh;
  }
}
