.CarouselParent {
  height: 70vh;
  display: flex;
  justify-content: center;
}

.carouselImageFrame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselImage {
  margin: 1.5em;
  width: 25em;
  height: 18em;
  object-fit: cover;
  object-position: middle;
  box-shadow: 5px 10px 18px #f2f3f56d;
  transition: transform 0.3s;
}

.carouselImage:hover {
  transform: scale(1.05);
}

.carouselDesc {
  color: white;
  font-size: 20px;
}

.status {
  float: right;
  color: orange;
  font-size: 0.5em;
}

.carousel-indicators {
  margin-bottom: 5em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin-bottom: 20vh;
}

.carousel-control-next-icon {
  margin-left: 5em;
}

.carousel-control-prev-icon {
  margin-right: 5em;
}

@media only screen and (max-width: 992px) {
  .carouselImage {
    margin: 0;
    width: 20em;
    height: 15em;
  }

  .carouselDesc {
    font-size: 18px;
    margin-top: 2em;
  }

  .carousel-indicators {
    margin-bottom: 1em;
  }

  .CarouselParent {
    height: 80vh;
  }
}
