.Pad {
  padding-top: 10.75em;
  padding-bottom: 5.75em;
}

.PadExempt {
  padding-top: 5.75em;
  padding-bottom: 5.75em;
}

h1 {
  padding-bottom: 1.75em;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  column-gap: 1em;
  /* text-shadow: 1px 1px 4px black; */
}

h1::before, h1::after {
  content: "";
  height: 0.1em;
  background-color: black;
  display: block;
  box-shadow: 5px 3px 8px black;
}

.darkHeading {
  color: white;
  padding-bottom: 1.75em;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  column-gap: 1em;
  /* text-shadow: 2px 1px 4px white; */
}

.darkHeading::before, .darkHeading::after {
  content: "";
  height: 0.1em;
  background-color: white;
  display: block;
  box-shadow: 5px 3px 8px white;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
